<%- include header %>
<body>
    <div class="homePage">
        <p>Hoş Geldiniz sayın <%- user.name; %> <%- user.surname; %></p>
        <a href="./editProfile" class="textMy">Edit Profile</a>
        <a href="./logout" class="textMy">Logout</a>
    </div>
</body>
<%- include footer %>